@import "reset.css";


*{
    box-sizing:border-box;
}

body{
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size:x-large;
    font-weight:bold;
}
#home-container{
    background-image: url("../img/home-bg.jpg");
    background-size: cover;
}
#home{
    color:#fff;
    background-color: #000;
    opacity: 0.5;
    height: 100vh;
    display:flex;
    flex-direction: column;
    
    /* justify-content: space-between;  */

}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #333333;
}

.nav-items-container{
    display: flex;

}

.nav-item{
    padding: 20px 30px ;
}

.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #7ed957;
    
}

.call-to-action1{
    margin-top: 30vh;
    max-width: 70vw;
    margin:auto; 
    display: flex;
    flex-direction: column;
}

.call-to-action1 *{
    padding:20px 10px;

}

.call-to-action1 a{
    align-self: center;
    border: 2px solid #7ed957;
    color: inherit;
    text-decoration: none;   
    border-radius: 5px; 

}

.call-to-action1 a:hover{
    color:inherit;
    background-color:  #7ed957;;  
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-intro{
    display: flex;

}

.about-text{
    width:40vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.about-text * {
    padding: 10px;
}

.about-img{
    background-image: url("../img/about-img.jpg");
    width:40vw;
    height:auto;
    margin-bottom: 5vh;
    background-repeat: no-repeat; 
    background-size: cover;

}

.about-facts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-facts *{
    padding-top: 10px;
}

.facts{
    display: flex;
    flex-wrap: wrap;
}

.facts-paragraph{
    width:70vw
}

.fact{
    padding: 20px 30px;
}

#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

#services *{
    padding:15px 0px;
}

.services-container{
    margin:0 50px 0 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, auto));
    grid-template-rows:1fr 1fr ;

    /* auto-fit  */
    /* grid-auto-rows: minmax(250px, auto); */
    color:#fff;
    column-gap: 10px;
    row-gap: 20px;
}


.service{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border-bottom: 5px solid #7ed957;
}

.service p{
    margin: 0 30px 0 30px;
    text-align: center;
}



.call-to-action2{
    background-image: url("../img/call-to-action-bg.jpg");
    background-size: color;
    background-repeat: no-repeat;
    background-attachment:fixed;
    min-height: 40vh;
    min-width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.call-to-action-p-btn{
    display: flex;
    width: 100vw;
    height:20vh;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    background-color: #333;
    color:white;
    align-items: center;
    text-align: center;
    padding:10px 0 10px 0;
    opacity: 0.7;
}
 
.call-to-action-p-btn *{
    margin:0 20px 0 20px;
    
} 
.call-to-action-p-btn p{
    padding-top: 30px;
}

.call-to-action-p-btn a{
    display: inline-block;
    width:150px;
    height:40px;
    bottom:30px;
    border:2px solid #ffffff;
    text-decoration: none;
    background-color: #7ed957;
    color:#000;
    text-align: center;
    
}


.profolio-type{
    display: flex;
    justify-content: center;
    align-items:center;

}

.profolio-type li{
  border:2px solid #fff;
  background-color:#7ed957;
  padding:5px; 
  height:50px;
  min-width:150px;
  margin:0 10px;

}

.portfolio-items{
    display:grid;
    width:100vw;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 40px;
    row-gap: 50px;
    background-size: contain;
    margin: 0 auto;
    background-color:#333;
} 

.portfolio-item{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;

}

.portfolio-img img{ 
    width:100%;
    height:100%;
    /* object-fit: cover; */
}

.img-description{
    color:#eee
}

#team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   
    
}

.team-intro{
    margin-top:20px;
    padding-top: 30px;
    background-color: #7ed957; 
    text-align: center;
}
.team-intro h2,.team-intro p,.team-details h5,.team-details p
{
    line-height: 30px;
    vertical-align : middle;
}

.team-details i{
    display: inline-block;
    width:10px;
    margin:10px 10px 10px 10px;
}



.team-members{
    display: grid;
    width:100vw;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
    margin:0 auto;
    background-color: #7ed957;  
   
}

.team-member{
    text-align: center;
    padding-top: 30px;
}
.team-member img{
    width:80%;
    height:80%;
    display: contain;
}

#contact{
    display: grid;
    height:80vh;
    grid-template-columns: repeat(2,1fr);
    background-color: #555;
    color:#eee;
 
}

.contact-intro{
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 3; 
    height:10vh;
}
.contact-intro h2{
    line-height: 80px;
}


.contact-address{
    grid-row-start:2;
    margin:0 auto;
    justify-content: space-around;
}

.contact-form{
    width:30vw;
    grid-row-start:2;
    grid-column-start:2;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.contact-form form * {
    padding: 15px;
    margin-bottom: 10px;
    max-width: 45vw;
}



.contact-form form button{
   background-color:#7ed597;
   border: 0;
}

.footer{
    text-align: center;
    background-color: #111;
    color:#ddd;
    min-height: 10vh;
    position: relative;
}

.footer p{
    align-self: center;
    padding-top: 10px;
}

span{
    color:#7ed957;  
}
